<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.local.KeyRemapping</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/hidutil</string>
        <string>property</string>
        <string>--set</string>
        <string>{"UserKeyMapping":[
            {
              "HIDKeyboardModifierMappingSrc": 0x70000004B,
              "HIDKeyboardModifierMappingDst": 0x70000005D
            },

            {
              "HIDKeyboardModifierMappingSrc": 0x70000004E,
              "HIDKeyboardModifierMappingDst": 0x700000060
            },

            {
              "HIDKeyboardModifierMappingSrc": 0x70000004A,
              "HIDKeyboardModifierMappingDst": 0x70000005C
            },

            {
              "HIDKeyboardModifierMappingSrc": 0x70000004D,
              "HIDKeyboardModifierMappingDst": 0x70000005E
            },
            {
              "HIDKeyboardModifierMappingSrc": 0x700000039,
              "HIDKeyboardModifierMappingDst": 0x70000004C
            }
        ]}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>